<a href="https://colab.research.google.com/github/gotserena/project-2022-data-mining/blob/main/Untitled18.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import os 
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split
from sklearn.tree import DecisionTreeClassifier
from sklearn.tree import export_graphviz
from sklearn import tree #decision tree
from sklearn.ensemble import RandomForestClassifier #RandomForestClassifier
from sklearn.metrics import classification_report

In [2]:
from google.colab import drive   
drive.mount('/content/drive')
path = '/content/drive/My Drive/project 2023'

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [3]:
data_file_path = os.path.join(path,'cardio_train.csv')
data= pd.read_csv(data_file_path)

In [4]:
data

,id,age,gender,height,weight,ap_hi,ap_lo,cholesterol,gluc,smoke,alco,active,cardio
0,0,18393,2,168,62.0,110,80,1,1,0,0,1,0
1,1,20228,1,156,85.0,140,90,3,1,0,0,1,1
2,2,18857,1,165,64.0,130,70,3,1,0,0,0,1
3,3,17623,2,169,82.0,150,100,1,1,0,0,1,1
4,4,17474,1,156,56.0,100,60,1,1,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
69995,99993,19240,2,168,76.0,120,80,1,1,1,0,1,0
69996,99995,22601,1,158,126.0,140,90,2,2,0,0,1,1
69997,99996,19066,2,183,105.0,180,90,3,1,0,1,0,1
69998,99998,22431,1,163,72.0,135,80,1,2,0,0,0,1
69999,99999,20540,1,170,72.0,120,80,2,1,0,0,1,0

In [5]:
data.isnull().sum()  #เช็คค่าว่าง

id             0
age            0
gender         0
height         0
weight         0
ap_hi          0
ap_lo          0
cholesterol    0
gluc           0
smoke          0
alco           0
active         0
cardio         0
dtype: int64

In [6]:
 data.cardio.value_counts() #เช็คค่าคำตอบในช่อง cardio

0    35021
1    34979
Name: cardio, dtype: int64

In [7]:
x = data[['age','gender','height','weight','ap_hi','ap_lo','cholesterol','gluc','smoke','alco','active']]
y = data['cardio']

#Decision Tree

In [8]:
x_train , x_test , y_train , y_test = train_test_split(x,y,test_size = 0.30)

In [9]:
print(len(x_test))
print(len(x_train))

21000
49000

In [10]:
Tree_model = tree.DecisionTreeClassifier()

In [11]:
Tree_model.fit(x_train,y_train)  #สร้างสำหรับตัวเรียนรู้

DecisionTreeClassifier()

In [12]:
Tree_model.score(x_train,y_train)

0.9997959183673469

In [13]:
Tree_model.score(x_test,y_test) #มีความแม่นยำ 63.338 %

0.6393333333333333

#Random Forest

In [14]:
x_train,x_test,y_train,y_test = train_test_split(x,y,test_size=0.3)

In [15]:
 random_forest= RandomForestClassifier(n_estimators=70000)

In [ ]:
random_forest.fit(x_train, y_train)

In [ ]:
random_forest.score(x_train,y_train)

In [ ]:
random_forest_predict = random_forest.predict(x_test)

In [ ]:
random_forest.score(x_test,y_test)

In [ ]:
print(random_forest_predict)

In [ ]:
print(classification_report(y_test,random_forest_predict ))